.title {
    color: #eee;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-top: 5px;
  }
  
  .subtitle {
    color: #eee;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 600;
    margin-top: -8px;
  }
  
  .input-container {
    height: 50px;
    position: relative;
    width: 100%;
    top: 5em;
  }
  
 

  .input {
    background-color: #bcc2f7;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: rgb(10, 10, 10);
    font-size: 18px;
    height: 10em;
    outline: 0;
    padding: 4px 20px 0;
    width: 60em;
  }
  
  .update{
    position: relative;
    width: 100%;
    
}

.updatenavs{
    position: relative;
    left: 0;
    width: 100%;
    margin-top: -11.1em;
    height: 50px;
    z-index: 1;
    position: fixed;
    background-color: darkcyan;
    display: flex;
    align-items: center;
}

.logo{
    color: whitesmoke;  
    flex-grow: 1;
    padding-left: 10px;
}

.articles{
    padding-right: 50px;
}

.link{
    padding: 10px;
    text-decoration: none;
    color: whitesmoke;
}
 
  
 
  
  .placeholder {
    color: #e4e4f1;
    font-size: 20px;
    left: 20px;
    line-height: 7px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: -74px;
  }
  
  .input:focus ~ .placeholder,
  .input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
  }
  
  .input:not(:placeholder-shown) ~ .placeholder {
    color: #808097;
  }
  
  .input:focus ~ .placeholder {
    color: #dc2f55;
  }
  
  .submit {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    position: relative;
    top: 8em;
     outline: 0;
    text-align: center;
    width: 40%;
  }
  
  .submit:active {
    background-color: #06b;
  }